extends layout

block content
  .container-fluid.h-100.d-flex.flex-column.justify-content-center
    .row
      .col-md-6.d-flex.align-items-center.flex-column.justify-content-center
        h2=title
        p=title
      .col-md-6.d-flex.align-items-center.justify-content-center
        .home-img.img-container
          img.img-fluid(src='/images/home_placeholder.png', alt='Portfolio')
